<h1>Listing necks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @necks.each do |neck| %>
      <tr>
        <td><%= neck.description %></td>
        <td><%= link_to 'Show', neck %></td>
        <td><%= link_to 'Edit', edit_neck_path(neck) %></td>
        <td><%= link_to 'Destroy', neck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neck', new_neck_path %>
